
###> symfony/framework-bundle ###
/symfony/.env
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/var/
/symfony/vendor/
 e_commerce.pdf
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/symfony/phpunit.xml
/symfony.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
/symfony/.phpunit.result.cache
/symfony/phpunit.xml
###< symfony/phpunit-bridge ###
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/front/node_modules
/front/.pnp
/front/.pnp.js



# testing
/front/coverage

# production
/front/build

# misc
/front/.DS_Store
/front/.env.local
/front/.env.development.local
/front/.env.test.local
/front/.env.production.local

/front/npm-debug.log*
/front/yarn-debug.log*
/front/yarn-error.log*
