.body_panier {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    padding: 5rem 0;
    font-size: 13px;
}

.container_panier {
    background-color: white;
    padding: 3rem 2rem;
}

.img_panier {
    width: 128px;
    height: 128px;
}

td {
    padding: 2rem;

}

th {
    color: rgb(160, 160, 160);
    padding: 2rem;
}

.border-top {
    border-top: 1pt solid black;
}

table {
    margin: 0 auto;
    margin-top: 1rem;
    border-collapse: collapse;
    text-align: center;
}

.input_panier {
    width: 70px;
    border: 1px solid black;
}

.input_panier:focus {
    outline: 0;
}

.row_panier {
    display: flex;
    justify-content: center;
}

.symboles {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1px;
    background-color: rgb(245, 245, 245);
}

.left {
    border-left: 1px solid black;
}

.right {
    border-right: 1px solid black;
}

.box select {
    background-color: #0A3782;
    color: white;
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box select option {
    padding: 30px;
}

.info_right {
    min-width: 20%;
    background-color: #D9D9D9;
    margin-left: 1rem;
    text-align: center;
    padding: 2rem 1rem;
}

.flex_2 {
    flex: 2;
    text-align: right;
    color: #0A3782;
}

.livraison {
    margin-top: 3rem;
}

.btn {
    margin-top: 3rem;
}
.croix{
    width: 32px;
}
.croix:hover{
    filter: invert(21%) sepia(100%) saturate(7414%) hue-rotate(359deg) brightness(94%) contrast(117%);
}
.panier{
    margin: 0;
    cursor: auto;
}
.quantity{
    color: #001e69;
    background-color: #fff;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}