@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

body{
  margin: 0; padding: 0; border: 0;
  font-family: 'Julius Sans One', sans-serif;
}
header{
  background-color: #0A3782;
  position: fixed;
  width: 100%;
}
#logo{
  width: 250px;
}
.row{
  display: flex;
  align-items: center;
}

.container{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#search{
  width: 130%;
  height: min-content;
  padding: 10px;
  margin: 0 5%;
}
#icon_account, #icon_panier{
  filter: invert();
  width: 30%;
}
#profil{
  justify-content: right;
}
.info_icon{
  color: white;
  margin: 0;
  margin-bottom: 5px;
}
.account, .panier{
  text-align: center;
  cursor: pointer;
}

.navbar{
  background-color: #001e69;
  width: 100%;
  height: 3rem;
}
.body_article{
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container_article{
  background-color: white;
  padding: 2rem;
  min-width: 90%;
}
.all_article{
  display: flex;
  flex-flow: row wrap;
}
.article{
  min-width: 45%;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 1%;
  cursor: pointer;
}
.article:hover ~ p{
  border-bottom: 1px solid #3B83EF;
}
.container_article{
  margin-top: 10rem;
}
.container_article h1{
  margin-left: 1%;
}
.container_article p{
  color: #3B83EF;
}
.img_article img{
  width: 264px;
  height: 264px;
}
.row_article{
  display: flex;
}
.row_article{
  justify-content: space-between;
}